<ion-header>
  <ion-toolbar>
    <ion-title style="margin-top: 20px; font-size: 2em;">
     <img src="assets/kisspng-apple-color-emoji-apple-color-emoji-computer-icons-5b39e9e6cc8764.9191843415305220868378.png" style="width: 50px;vertical-align: middle;">
     Food List
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Registro</h1>
  <div id="contenedor">
    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="edad" placeholder="Edad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" [(ngModel)]="peso" placeholder="Peso"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number"[(ngModel)]="altura" placeholder="Altura"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number"[(ngModel)]="imc" placeholder="I.M.C"></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-button (click)="saveUsuario(usuario)" expand="block" fill="clear" shape="round">
      !Bienvenido!
    </ion-button>
    </div>
</ion-content>
