<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 2em;">Home
      <img src="assets/kisspng-apple-color-emoji-apple-color-emoji-computer-icons-5b39e9e6cc8764.9191843415305220868378.png" style="width: 50px;vertical-align: middle;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" style="background-color: rgb(0, 225, 255);">
        <ion-icon name="home-outline" color="dark"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="user" style="background-color: rgb(0, 225, 255);"(click)="goToUser()">
        <ion-icon name="person-outline" color="dark"></ion-icon>
        <ion-label color="dark">User</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="fav" style="background-color: rgb(0, 225, 255);" (click)="goToFav()">
        <ion-icon name="star-outline" color="dark"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="exit" style="background-color: rgb(0, 225, 255);"(click)="goToRegister()">
        <ion-icon name="exit-outline" color="dark"></ion-icon>
        <ion-label>Exit</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


        <ion-list class="ion-text-center">
          <ion-card  style="width: 90%;">
            <ion-label (click)="cambiarEsDesplegado()" style="font-weight: bolder; font-size: 2em;">Alimentos</ion-label>
            <ion-card style="width: 100%;" *ngIf="esDesplegado == true">
              <ion-item *ngFor="let a of alimentos">
                <ion-button slot="end" (click)="guardarFavorito(a)" color="medium">
                   <ion-icon slot="end" name="star-outline" style="margin: auto;"></ion-icon>
                </ion-button>
               
                <ion-thumbnail>
                  <img [src]="a.imagen"/>
                </ion-thumbnail>
                <ion-label (click)="presentAlertConfirm(a)"  style="margin-left: 10px;" class="ion-text-center">{{a.nombre.toLocaleUpperCase()}}</ion-label>
              </ion-item>
            </ion-card>
          </ion-card>
        </ion-list>

</ion-content>