<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Food-List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-list class="ion-text-center">
          <ion-card (click)="cambiarEsDesplegado()" style="width: 200px; margin-left: 20px;">
            <ion-label>Alimentos</ion-label>
            <ion-card style="width: 100%;" *ngIf="esDesplegado == true">
              <ion-item *ngFor="let a of alimentos" (click)="presentAlertConfirm(a)">
                <ion-thumbnail>
                  <img [src]="a.imagen" />
                </ion-thumbnail>
                <ion-label style="margin-left: 10px;" class="ion-text-center">{{a.nombre.toLocaleUpperCase()}}</ion-label>
              </ion-item>
            </ion-card>
          </ion-card>
        </ion-list>

        

</ion-content>